*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}

body{
    background: url("./images/img1.webp");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Calculator{
    padding: 10px;
    /* box-shadow: 0 0 15px #000; */
    border: 2px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.display input{
    width: 360px;
    /* border: none;
    /* outline: none; */
    padding: 20px;
    margin: 10px;
    background: transparent;
    color: #000;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #CFCFCF;
}

input::placeholder{
    color: #fff;
}

button{
    width: 70px;
    height: 70px;
    margin: 10px;
    background: #f7f7f7;
    color: #000;
    font-size: 22px;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    /* box-shadow: -5px -6px 15px #000; */
    /* outline: 1px solid #313131; */
    /* outline-offset: 2px; */
    cursor: pointer;

}

.opr-eql{
    width: 160px;
    border-radius: 24px;
    background-color: #8daafa;
}

button:active{
    background: #fff;
    transform: translate(2px 2px);
}

.opr{
    background: #4272f3;
    font-weight: 700;
    color: #fff;
}

.ac{
    background-color: #e46a46;
}